#proyecto {

	border-radius: 5px;
	width: auto;
	height: 200px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
#proyecto:hover {

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}


#nombreproyecto {
	width: 100%;
	height: 55%;
	background-color: #F3F3F3 !important;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#fecha {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #838383;
}


.progress {
	background: rgba(255, 255, 255, 1);
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 4px; height: 30px;
}
.progress-bar-custom {
	background: rgba(69, 153, 23, 1);
	background: -webkit-linear-gradient(top, rgba(176, 236, 64, 1) 0%, rgba(69, 153, 23, 1) 100%);
	background: linear-gradient(to bottom, rgba(176, 236, 64, 1) 0%, rgba(69, 153, 23, 1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
