@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

@font-face {
  font-family: intelo;
  src: url(../Intelo/Intelo-Light.ttf);
}
@font-face {
  font-family: intelobold;
  src: url(../Intelo/Intelo-Medium.ttf);
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'intelobold';


}
body {
font-family: 'intelo';
max-width: 100%;
overflow-x: hidden;

}

section {
  padding: 20px 0;
}

#contenedor {
  width:400px;
}

#head-blog {
  position: relative;
  height: 600px;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../assets/bg1.png');
}

#form {
  margin-top: 30px;
  padding: 30px 30px 30px;
  background-color: white;
  border: solid 1px #478AE2;
  border-radius: 10px;
}

input, select, textarea {
  border: solid 1px #478AE2 !important;
}

p {
  font-size: 16px;
  color: #999999;
}

select:required:invalid {
  color: #999;
}
option[value=””][disabled] {
  display: none;
}
option {
  color: #000;
}

.form-group {
  display: block !important;
}

.boton-default:hover,
.boton-default:focus,
.boton-default.focus,
.boton-default:active,
.boton-default.active,
.open > .dropdown-toggle.boton-default {
  color: white;
  background-color: #FF7A00;
}
.boton-default:active,
.boton-default.active,
.open > .dropdown-toggle.boton-default {
  background-image: none;
}
.boton-default.disabled,
.boton-default[disabled],
fieldset[disabled] .boton-default,
.boton-default.disabled:hover,
.boton-default[disabled]:hover,
fieldset[disabled] .boton-default:hover,
.boton-default.disabled:focus,
.boton-default[disabled]:focus,
fieldset[disabled] .boton-default:focus,
.boton-default.disabled.focus,
.boton-default[disabled].focus,
fieldset[disabled] .boton-default.focus,
.boton-default.disabled:active,
.boton-default[disabled]:active,
fieldset[disabled] .boton-default:active,
.boton-default.disabled.active,
.boton-default[disabled].active,
fieldset[disabled] .boton-default.active {
  background-color: white;
  border-color: white;
}
.boton-default .badge {
  color: white;
  background-color: #FC5810;
}

.boton {
  font-family: "intelobold";
  font-size: 20px;
  border: 1px solid #FC5810;
  border-radius: 50px;
  background-color: #ff5a00;
  width: auto;
  color: white;
  padding: 10px 50px 10px;
}

.btns {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-siguiente {
  background: rgba(71, 176, 23, 1);
  background: -webkit-linear-gradient(top, rgba(133, 250, 8, 1) 0%, rgba(71, 176, 23, 1) 100%);
  background: linear-gradient(to bottom, rgba(133, 250, 8, 1) 0%, rgba(71, 176, 23, 1) 100%);
  border-color: rgba(18, 102, 52, 1); color: rgba(51, 51, 51, 1);
  font-size: 14px;
  border-radius: 4px;
  border-width: 1px;
}
.btn-siguiente:hover {
  background: rgba(14, 158, 14, 1);
  background: -webkit-linear-gradient(top, rgba(15, 247, 100, 1) 0%, rgba(14, 158, 14, 1) 100%);
  background: linear-gradient(to bottom, rgba(15, 247, 100, 1) 0%, rgba(14, 158, 14, 1) 100%);
  border-color: rgba(26, 161, 44, 1); color: rgba(51, 51, 51, 1);
}
.btn-siguiente:active, .btn-siguiente:focus {
  background: rgba(0, 128, 64, 1);
  border-color: rgba(173, 173, 173, 1);
  color: rgba(51, 51, 51, 1);
}

.btn-volver {
  background: rgba(249, 114, 0, 1);
  background: -webkit-linear-gradient(top, rgba(251, 213, 83, 1) 0%, rgba(249, 114, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(251, 213, 83, 1) 0%, rgba(249, 114, 0, 1) 100%);
  border-color: rgba(255, 155, 72, 1); color: rgba(51, 51, 51, 1);
  font-size: 14px;
  border-radius: 4px;
  border-width: 1px;
}
.btn-volver:hover {
  background: rgba(190, 108, 27, 1);
  background: -webkit-linear-gradient(top, rgba(255, 144, 36, 1) 0%, rgba(190, 108, 27, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 144, 36, 1) 0%, rgba(190, 108, 27, 1) 100%);
  border-color: rgba(26, 161, 44, 1); color: rgba(51, 51, 51, 1);
}
.btn-volver:active, .btn-volver:focus {
  background: rgba(255, 69, 0, 1);
  border-color: rgba(173, 173, 173, 1);
  color: rgba(51, 51, 51, 1);
}

.estadoOrden {
  border-radius: 4px;
  background-color: red;
  width: 10px;
  height: 5px;
}

.rota-horizontal{
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
